$color-theme:#FF7373;
$color-dark: #222529;
$color-extralight-gray: #f8f8f8;
$color-light-gray: #70707066;
$color-dark-gray: #616365;
$linear-gradient-dark: #e6e6e6;
$linear-gradient-light: #f5f5f5;
$color-white: #FFFFFF;
$color-shadow: rgba(34, 37, 41, 0.6);
$max-widht: 1680px;

$color-theme-light:#EDFCFA;
$color-theme-dark: #0E153D;
$color-theme-dark-light: #50546E;

$color-gray-0: #AAAAAA;
$color-gray-1: #CCCCCC;
$color-gray-2: #E3E3E3;
$color-gray-3: #EEEEEE;
$color-gray-4: #F6F6F6;
$color-gray-5: #777777;
$color-product-instock: #82D8C6;
$color-produkt-outofstock: #FE6C6C;

$font-play: 'Play', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weigt-bold: 700;
$font-size-14: 1.17rem;
$font-size-16: 1.33rem;
$font-size-18: 1.50rem;
$font-size-24: 2rem;
$font-size-36: 3rem;
$font-size-60: 5rem;


$border-radius-small: 8px;
$border-radius-medium: 25px;
$border-radius-rounded: 50%;
